html#index{
    border-radius: 15px;
}

html, body {
    height: 100vh;
    max-height: 100vh;
}

.full-height {
    height: 100%;
    max-height: 100%;
}

::-webkit-scrollbar{
    display: none;
}

#column-1{
    background-color: whitesmoke;
}

body{
    /*background: #C0ECFC;*/
    background: #eeeeee;
    color: white;
    font-family: 'Signika';
    -webkit-app-region: drag;
    overflow: hidden;
}

body:hover{
    overflow: scroll;
}

button, select{
    -webkit-app-region: no-drag;
    width: 10em;
}

p, img{
    -webkit-user-select: all;
    -webkit-app-region: no-drag;
}

#ion-core-table{
    width: 60%;
}

#spectraChart{
    background-color: white;
    display: none;
}

#main {
    padding-top: 2.3em;
    min-height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;

}

.mod-filter-group .btn{
    width: 3em;
}

.color-black{
    color:black !important;
}

#peptide-list, #scan-list{
    height: 100%;
    overflow: scroll;
}

#peptide-list{
    background-color: #265a88;
    color:whitesmoke;
}

#scan-list{
    background-color: #286090;
    color: whitesmoke;
}

#protein-list{
    padding-top: 0.5em;
    max-height: 95%;
    background-color: #204d74;
    color: whitesmoke;
    table-layout: fixed;
    overflow: scroll;
}

.protein td{
    white-space: nowrap;
}

#protein-nav{
    margin-bottom: 0px;
}

#details{
    height: 96%;
    overflow: scroll;
    color:whitesmoke;
    background-color: #2860AA;

}

#report{
    color: black;
}

#protein-table tr:hover, #scan-table tr:hover, #peptide-table tr:hover{
    cursor: pointer;
}

.row{
    margin-bottom: .5em;
}

.redundant-accession{
    cursor: pointer;
    padding: .2em;
    margin: .1em;
}

.redundant-type{
    font: 1.2em bold;
}

.redundant-type-list{
    background-color: #eeeeee;
    color: black;
    border-radius: 12px;

}

.success, .info{
    color:black;
}

#waiting-gif{
    background-color: white;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    color: black;
    font-size: 1.2em;
}

input{
    color: black;
}